:root { 
--gray_400_4f:#b1b1b14f; 
--blue_A400:#347af0; 
--light_blue_700:#0480dc; 
--red_400:#ed3857; 
--green_A100:#cdfcc7; 
--black_900_4c_01:#0000004c; 
--yellow_800:#fcb32a; 
--light_green_600:#77c126; 
--blue_gray_900_02:#2d2d2d; 
--blue_gray_900_01:#343434; 
--yellow_800_02:#e19724; 
--pink_500:#ee2c55; 
--blue_gray_900:#312f31; 
--yellow_800_01:#e39c2d; 
--deep_orange_100:#fbd2b0; 
--purple_300:#d04fc1; 
--orange_200_01:#f0c996; 
--pink_50:#fccbf7; 
--blue_900:#094c9e; 
--blue_gray_100:#d8d8d8; 
--lime_700:#bc954a; 
--gray_800:#433e42; 
--orange_600:#e98a0a; 
--blue_800_33:#2877ae33; 
--gray_700_04:#6b696b; 
--gray_700_05:#585858; 
--black_900_99:#00000099; 
--gray_700_02:#5f5f5f; 
--gray_700_03:#5d5d5d; 
--gray_700_01:#5a5c69; 
--deep_orange_A200:#ff6d3a; 
--gray_900_33:#18191b33; 
--red_300:#ea667d; 
--amber_A200:#f5d143; 
--green_600:#30bf39; 
--deep_purple_400_01:#7c60be; 
--black_900_66:#00000066; 
--gray_500_01:#a0a0a0; 
--yellow_900:#d88e2b; 
--gray_500_03:#aaaaaa; 
--gray_500_02:#acacac; 
--green_400_01:#7aaf72; 
--gray_500_04:#999999; 
--pink_400:#ec407a; 
--yellow_100:#ffe3ca; 
--purple_400:#cc42bd; 
--purple_A100_01:#f39fff; 
--indigo_100_01:#d1d6f5; 
--blue_gray_200:#a9b0b7; 
--red_600_02:#ec3131; 
--red_600_01:#ea2828; 
--blue_800:#0b55b4; 
--gray_900:#281b00; 
--red_900_01:#a41831; 
--gray_800_75:#4d0b4a75; 
--gray_100:#f3f4fb; 
--gray_900_3f:#18191b3f; 
--indigo_A400:#465be4; 
--cyan_900:#0a476f; 
--gray_200_09:#eae9e9; 
--black_900_26_01:#00022c26; 
--gray_200_07:#eaecee; 
--gray_200_08:#f1f0f0; 
--red_600:#cc424b; 
--light_blue_A100:#69e1ff; 
--orange_600_01:#f98706; 
--blue_A200:#328cfc; 
--purple_700_01:#86168b; 
--white_A700_ab:#ffffffab; 
--light_green_800:#4b8e2f; 
--gray_200_01:#e9e9e9; 
--pink_700:#c61d61; 
--purple_900:#51105d; 
--gray_200_02:#eeeeee; 
--gray_200_05:#eae4e9; 
--red_A700:#dd0000; 
--gray_200_06:#f0f0f0; 
--gray_200_03:#e9e7e9; 
--gray_200_04:#efefef; 
--yellow_200:#fff6a0; 
--gray_600:#828082; 
--yellow_A700:#ffce00; 
--orange_400:#ffb125; 
--lime_900_01:#81571e; 
--white_A700_26:#ffffff26; 
--lime_900_02:#a57700; 
--purple_200:#d98dce; 
--red_500:#e74a3b; 
--red_400_02:#e3464b; 
--red_400_01:#de5753; 
--red_400_03:#eb5757; 
--amber_A400:#ffcc00; 
--green_400:#66bb6a; 
--green_A400:#25d482; 
--yellow_300:#ffe76a; 
--pink_900_01:#6d015f; 
--pink_A200:#ff3275; 
--black_900:#000000; 
--amber_A400_01:#edc500; 
--blue_gray_800:#424d59; 
--blue_50_02:#dfefff; 
--blue_50_01:#e1effb; 
--gray_900_02:#151515; 
--white_A700_a0:#ffffffa0; 
--gray_700:#565555; 
--gray_900_03:#111111; 
--gray_900_04:#1e1a1e; 
--gray_900_05:#18191b; 
--gray_900_01:#242424; 
--gray_300_07:#dde0e6; 
--gray_300_06:#e1e1e3; 
--gray_300_05:#e5dceb; 
--gray_300_04:#e5dddd; 
--gray_300_03:#e6e6e6; 
--gray_900_06:#222222; 
--orange_300:#f6b257; 
--gray_300_02:#e0e0e0; 
--gray_300_01:#e5e3df; 
--indigo_100:#c5d5f0; 
--green_A400_6c:#25d4826c; 
--indigo_900:#012169; 
--blue_200:#99b8ed; 
--gray_50_01:#fbf7f7; 
--gray_50_02:#fcfafa; 
--gray_800_09:#4b4b4b; 
--gray_800_08:#3a3c3f; 
--gray_800_07:#434343; 
--pink_900:#78006f; 
--gray_800_06:#3c3c3c; 
--gray_900_99:#12121299; 
--red_800:#c8102e; 
--gray_800_05:#474747; 
--gray_800_04:#3d3b48; 
--gray_800_03:#505050; 
--gray_800_02:#444444; 
--gray_800_01:#583608; 
--teal_100:#bff0de; 
--yellow_400:#f9e15b; 
--black_900_01:#010612; 
--black_900_00:#00000000; 
--deep_orange_A700:#de2110; 
--light_blue_A700:#0075ff; 
--amber_400_95:#fccb2c95; 
--purple_700:#7b1fa2; 
--deep_purple_A200:#935eff; 
--black_900_03:#030303; 
--black_900_02:#020202; 
--black_900_05:#00000005; 
--black_900_04:#070607; 
--blue_500:#1e96fe; 
--black_900_0f:#0000000f; 
--black_900_0c:#0000000c; 
--gray_800_11:#573737; 
--yellow_700_01:#ebc427; 
--gray_800_10:#404040; 
--orange_200:#f0ca96; 
--purple_700_33:#86168b33; 
--indigo_200:#9ea9c7; 
--green_200:#99ff99; 
--red_700:#cb2845; 
--blue_gray_50:#edf0f6; 
--blue_gray_100_01:#d4d4d4; 
--blue_A700:#1b6af1; 
--blue_gray_100_02:#cecece; 
--blue_gray_100_03:#d9d9d9; 
--light_green_100:#d6f2d7; 
--blue_gray_100_04:#cccccc; 
--blue_gray_100_05:#d0d0d0; 
--gray_50:#f9f8f9; 
--deep_purple_300:#8866d6; 
--light_green_900:#319400; 
--teal_800:#0f6848; 
--purple_300_01:#ab67e0; 
--purple_300_02:#bb5ce1; 
--deep_purple_A100:#b984ff; 
--red_300_02:#ed7a7a; 
--gray_500:#969696; 
--red_300_01:#e4897b; 
--orange_900:#b56c00; 
--teal_50:#d2f4e8; 
--blue_800_99:#2877ae99; 
--amber_300_01:#ffdb4d; 
--indigo_300:#6b72d6; 
--yellow_900_01:#ff901d; 
--purple_700_56:#86168b56; 
--blue_400:#40b0ef; 
--white_A700_7f:#ffffff7f; 
--purple_700_7f:#86168b7f; 
--red_400_63:#eb575763; 
--amber_A200_01:#ffd640; 
--deep_purple_400:#7b519d; 
--black_900_3f:#0000003f; 
--blue_800_01:#2877ae; 
--amber_A200_02:#ffd742; 
--green_A700:#00b900; 
--black_900_dd:#000000dd; 
--purple_500:#b21a9d; 
--purple_500_01:#b1199c; 
--black_900_4c:#0e0d0d4c; 
--purple_500_02:#a33596; 
--orange_600_90:#e98a0a90; 
--blue_gray_300:#929da9; 
--red_A200:#ff4c4c; 
--lime_900:#945d11; 
--light_green_100_01:#dbfcbd; 
--light_blue_500_33:#0098fd33; 
--amber_300:#f7c957; 
--gray_200:#ebebeb; 
--blue_50:#dfebff; 
--blue_500_75:#1e96fe75; 
--gray_100_03:#f5f5f5; 
--gray_100_02:#f6f6f6; 
--gray_200_93:#eae9e993; 
--red_800_01:#ba3333; 
--gray_100_01:#f7f7f7; 
--blue_gray_900_33:#34343c33; 
--red_A700_02:#cc0000; 
--red_A700_01:#ff0000; 
--blue_gray_400_01:#8d8f98; 
--white_A700:#ffffff; 
--red_900:#a81c34; 
--purple_400_03:#c539b6; 
--purple_400_02:#c649b8; 
--blue_gray_100_49:#d9d9d949; 
--purple_400_05:#c440db; 
--purple_400_04:#c222cf; 
--blue_A700_01:#0060ff; 
--black_900_1e:#0000001e; 
--white_A700_75:#ffffff75; 
--yellow_700:#e8b826; 
--deep_orange_600:#ed5729; 
--purple_400_01:#9f42cc; 
--red_400_6c:#eb57576c; 
--black_900_28:#00000028; 
--purple_A100:#e785fb; 
--purple_600:#8236aa; 
--black_900_26:#00000026; 
--blue_gray_50_01:#f1f1f1; 
--gray_600_02:#6e6e6e; 
--white_A700_6c:#ffffff6c; 
--gray_600_01:#707070; 
--blue_gray_400:#858796; 
--blue_gray_900_06:#373131; 
--blue_gray_900_05:#292d32; 
--lime_800:#b38a3e; 
--blue_gray_900_04:#263238; 
--blue_gray_900_03:#2e2e2e; 
--light_green_600_01:#7bb32e; 
--light_blue_50:#d9effc; 
--gray_600_04:#686976; 
--white_A700_84:#ffffff84; 
--gray_300:#dddddd; 
--gray_600_03:#808080; 
--gray_600_06:#767676; 
--gray_600_05:#757575; 
--black_900_33:#00000033; 
--black_900_cc:#000000cc; 
--light_green_600_02:#63bc47; 
}